.features {
  &__box {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    align-self: self-start;
  }

  &__title {
    font-size: 25px;
  }
  &__img {
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
  }

  &__text {
    color: var(--color-gray-light);
    font-weight: 500;
    grid-column: 2/-1;
    align-self: self-end;
    font-size: 20px;
  }
}
