@use "../abstract/mixins" as *;

.product-card {
  position: relative;
  overflow: hidden;

  &:hover .product-card__overlay {
    opacity: 1;
    pointer-events: auto;
    transform: translate3d(0, 0, 0);
  }

  &__stretched-link {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__view {
    padding: 0.3rem 1rem;
    margin-bottom: 1rem;

    @include respond(tablet) {
      display: none;
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);

    pointer-events: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: translate3d(10px, 0, 0);

    transition:
      opacity 0.3s ease,
      transform 0.3s ease-in-out;

    @include respond(tablet) {
      opacity: 1;
      pointer-events: auto;
      z-index: 3;
      transform: translate(0);

      top: 0;
      left: 0;
      right: 0;
      bottom: auto;
      justify-content: start;

      flex-direction: row;

      // background-color: rgba(0, 0, 0, 0.4);
      background-color: transparent;
    }
  }

  &__btn {
    background-color: var(--color-white);
    margin-bottom: 1.8rem;
    text-transform: capitalize;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-accent);
    }

    @include respond(tablet) {
      margin: 0;
      padding: 0.5rem;
    }
  }

  &__actions {
    display: flex;
    gap: 16px;

    span {
      @include respond(tablet) {
        display: none;
      }
    }

    @include respond(tablet) {
      background-color: rgba(#f4f5f7, 0.3);
      padding: 0.5rem;
      flex: 1;
      justify-content: center;
      align-self: stretch;
    }

    .icon {
      filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 1));
    }
  }

  &__action {
    color: var(--color-white);

    display: flex;
    align-items: center;
    gap: 0.2rem;

    .icon {
      margin-right: 0.3rem;
    }
  }

  &__image-wrapper {
    position: relative;
  }

  &__image {
    width: 100%;
  }

  &__badge {
    font-weight: 500;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 45px;
    height: 45px;

    color: var(--color-white);

    border-radius: var(--radius-xl);

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tablet) {
      top: 8px;
      right: 8px;
    }

    &--red {
      background-color: var(--color-pink);
    }

    &--green {
      background-color: var(--color-green);
    }
  }

  &__content {
    background-color: var(--bg-neutral-100);
    padding-block: 1rem 2rem;
    padding-inline-start: 1rem;

    @include respond(mobile) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.5rem;
      min-height: 160px;
    }
  }

  &__title {
    font-size: 1.5rem;
    color: var(--color-black-light);
    margin-bottom: 0.3rem;
  }

  &__description {
    color: var(--color-gray-dark);
    font-weight: 500;
    margin-bottom: 0.8rem;
  }

  &__price {
    display: flex;
    gap: 1rem;

    @include respond(mobile) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__price-current {
    color: var(--color-black-light);
    font-weight: 700;
  }

  &__price-old {
    text-decoration: line-through;
    color: var(--color-gray-light);
  }
}
