.cart-page {
  &__inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    gap: 2rem;
  }

  &__headers {
    font-weight: 500;
    background-color: var(--bg-neutral-500);
    padding: 1rem;
    margin-bottom: 3rem;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 1rem;
  }

  &__item-wrapp {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item {
    color: var(--color-gray-light);
    font-weight: 500;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
  }

  &__product {
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 65px;
      border-radius: 8px;
    }
  }

  &__price {
    &-label {
      display: none;
    }
  }

  &__quantity {
    width: max-content;
    border: 1px solid var(--color-gray-light);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.3s ease;

    &:focus-within,
    &:hover {
      border: 1px solid var(--color-accent);
    }
  }

  &__quantity-input {
    width: 20px;
    border: none;
    text-align: center;

    appearance: textfield;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: none;
    }
  }

  &__quantity-btn {
    padding: 0.5rem;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__summary {
    background-color: var(--bg-neutral-500);
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 2rem;
    padding: 1rem;

    &-body {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &-title {
      margin-bottom: 2rem;
      text-align: center;
    }

    &-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &-label {
      font-weight: 500;
    }

    &-price--gray {
      font-weight: 500;
      color: var(--color-gray-light);
    }

    &-price--accent {
      font-weight: 500;
      font-size: 20px;
      color: var(--color-accent);
    }

    &-btn {
      align-self: center;
      text-transform: capitalize;
      border: 1px solid var(--color-black);
      border-radius: 12px;
      padding-inline: 4rem;
    }
  }

  &__remove-btn {
    color: var(--color-accent);
  }
}
