.cart-page {
  &__inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
  }

  &__headers {
    font-weight: 500;
    background-color: var(--bg-neutral-500);
    padding: 1rem;
    margin-bottom: 3rem;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 1rem;
  }

  &__item {
    color: var(--color-gray-light);
    font-weight: 500;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
  }

  &__product {
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 100px;
      border-radius: 8px;
    }
  }

  &__price {
  }

  &__quantity {
  }

  &__input {
    color: var(--color-black);
    -moz-appearance: textfield;
    width: 30px;
    text-align: center;
    border: 1px solid var(--color-gray-light);
    border-radius: 4px;
    transition: border-color 0.3s ease;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: none;
      border: 1px solid var(--color-accent);
    }
  }

  &__summary {
    background-color: var(--bg-neutral-500);
  }

  &__subtotal {
    color: var(--color-black);
  }

  &__remove-btn {
    color: var(--color-accent);
  }
}
